.row {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    width: 90%;
    margin: 0 auto !important;
    font-size: 0.75em !important;
}

.title {
    font-size: 2.0em;
    font-weight: bold;
    margin-bottom: 32px;
}

.sub-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 8px;
    border-bottom: 1px solid #000;
}

.sub-sub-title {
    font-size: 1.1em;
    margin-bottom: 8px;
}

.form {
    margin: 0 0 32px 0;
}

.form__label {
    margin: 0 0 0 8px;
}

.form__checkbox-6 {
    margin: 0 16px 0 0;
}

.form__checkbox-group {
    border: 1px solid #000;
}

.form__text,
.form__textarea,
.form__name,
.form__email {
    padding: 4px 8px !important;
}

.form__name-15 {
    padding: 0 !important;
    margin-left: -16px;
}